<form [formGroup]="form">

  <div class="col-md-12">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Bienvenidos al portal de Credibanco</div>
            <div class="card-title"> 
              <p>
                Today is {{ today }}
              </p>
             </div>
          </div>
        </div>
      </div>


      <div class="col-2">

        <div class="card" style="height: 250px;">
          <div class="card-body">
            <p>E-mail</p>
            <input type="text" formControlName="email" style="margin-top: 3px;margin-left: 10px;"
              class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <p>Nombre del responsable</p>
            <input type="text" formControlName="nombreResponsable" style="margin-top: 3px;margin-left: 10px;"
              class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <p>Vice presidencia</p>
            <select class="form-control" formControlName="vicepresidencia" style="margin-top: 3px;margin-left: 10px;"
              class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <option>VP_AML</option>
              <option>VP_AUDITORIA</option>
              <option>VP_DIGITAL</option>
              <option>VP_FINANCIERA</option>
              <option>VP_OPERACIONES</option>
              <option>VP_RETAIL</option>
              <option>VP_RIESGOS</option>
              <option>VP_SEGMENTOS</option>
              <option>VP_TECNOLOGIA</option>
              <option>VP_WEALTH</option>
              <option>VP_WHOLESALE</option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-6">
      </div>
    </div>
  </div>
  <br>
  <br>
</form>